@use "componant";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Barlow", sans-serif;
  font-family: "Comforter Brush", cursive;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

nav {
  .logo {
    z-index: 9;
  }
  ul {
    gap: 1.3rem;
    z-index: 6;
  }
  @media (max-width: 767px) {
    ul {
      padding-top: 20%;
      gap: 0px !important;
      position: absolute;
      background-color: white;
      flex-direction: column;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      opacity: 0;
      &.active {
        top: 0;
        opacity: 1;
      }
      li {
        a {
          color: black !important;
          padding: 30px;
        }
        width: 100%;
        margin: 0;
        transition: 0.3s;
        &:hover {
          background-color: wheat;
        }
      }
    }
    .show-nav {
      z-index: 9;
      position: relative;
    }
  }
}

// start landing

.landing {
  .main-heading {
    @media (max-width: 991px) {
      & {
        font-size: 2.5rem;
      }
    }
  }
  .image {
    width: 80%;
    filter: grayscale(1);
    transition: 0.6s;
    &:hover {
      filter: grayscale(0);
    }
  }
  .back-image {
    // background-color: blue;
    height: 100%;
    width: 80%;
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-image: url("/images/domin.png");
    background-repeat: repeat;
    background-size: 20px;
    z-index: -1;
  }
  .flow-1 {
    border: 1px solid #473f3c;
    max-width: 300px;
    top: 5%;
    right: 0;
    .icon {
      background-color: #ee9888;
      height: 35px;
      width: 35px;
      i {
        color: #b35941;
      }
    }
    h4 {
      color: #473f3c;
    }
  }
  .flow-2 {
    bottom: -40px;
    left: -40px;
    width: 250px;
    border: 1px solid #473f3c;
    h4 {
      font-size: 4rem;
    }
  }
}

// start leading
.leading {
  background-color: #efece3;
  img {
    filter: grayscale(1);
  }
}

// start businesses

.businesses {
  background-color: #efece3;
  .h1 {
    @media (max-width: 767px) {
      & {
        font-size: 2rem;
        padding-left: 25px;
      }
    }
  }
  .box {
    width: 90%;
    img {
      width: 30%;
    }
  }
}

// start overview

.overview {
  h1 {
    @media (max-width: 767px) {
      & {
        font-size: 2rem;
      }
    }
  }
}

// start features

.features {
  h1 {
    @media (max-width: 767px) {
      & {
        font-size: 2rem;
      }
    }
  }
}

// start about

.about {
  background-color: #efece3;
  .image {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    @media (max-width: 767px) {
      & {
        font-size: 15px !important;
      }
    }
  }
}

//

.footer {
  .row {
    padding-top: 100px !important;
  }
  li {
    margin-bottom: 5px;
  }
  .the-link {
    width: fit-content;
  }
  h1 {
    @media (max-width: 767px) {
      & {
        font-size: 15px !important;
      }
    }
  }
}
